/*Css base+reset+style.css*/

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img, embed, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.f12 {
  font-size: 12px
}

.f13 {
  font-size: 13px
}

.f14 {
  font-size: 14px
}

.f16 {
  font-size: 16px
}

.f20 {
  font-size: 20px
}

.fb {
  font-weight: bold
}

.fn {
  font-weight: normal
}

.t2 {
  text-indent: 2em
}

.lh150 {
  line-height: 150%
}

.lh180 {
  line-height: 180%
}

.lh200 {
  line-height: 200%
}

.unl {
  text-decoration: underline;
}

.no_unl {
  text-decoration: none;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}
