@media screen and (min-width: 1000px) {
  #header{
    width: 15%;
  }
}
@media screen and (max-width: 700px){
  .datetime,
  #menu,
  #nav p a:last-child{
    display: none;
  }
  #container{
    width: 90%;
  }
  .next{
    margin-right: 3em;
  }
  .prev{
    margin-left: 3em;
  }
  #back{
      right: 3%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  #back a{
      color: #333;
  }
  #back a:hover{
      box-shadow: none;
  }
}
