@media screen and (max-width: 700px){
    #fork,
    #header p,
    #header h5,
    #copy,
    .datetime{
        display: none;
    }
    #header{
        margin: 0 auto;
    }
    #container {
        width: 100%;
        margin: 0 auto 100px;
    }
    #me{
        width: 80px;
    }
}