@media screen and (min-width: 1000px) {
  /*#header{
    width: 15%;
  }*/
}
@media screen and (max-width: 700px){
  .datetime,
  #menu,
  #nav p a:last-child,
  #nav ul.fr{
    display: none;
  }
  #nav p{
    display: none;
  }
  #container{
    width: 90%;
    margin: 50px auto 0;
  }
  .github:after{
    content: "|用微笑面对生活吧";
    font-size: 12px;
  }
  .next{
    margin-right: 3em;
  }
  .prev{
    margin-left: 3em;
  }
  #back{
      right: 3%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  #back, #close{
    right: 3%;
  }
  .github{
    left:0;
  }
  ul.postlist li.postlist{
    height: auto;
  }
  ul.postlist li.postlist a{
    text-decoration: none!important;
  }
  .footer{
    margin-left: 10px;
  }
  .footer .fl{
    font-size: 12px;
  }
  .footer .fr{
    display: none;
  }
}
