/*滚动条 start*/

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(58, 63, 65, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(71, 185, 241);
}

.clearfix:before, .clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  clear: both;
  display: block;
  margin: 30px auto;
}

h2 {
  background-color: #eee;
  padding-left: 8px;
  margin-left: -8px;
  border-radius: 2px;
}

#mini img {
  border: none;
  box-shadow: none;
}

#nav {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 1px 1px 3px #ccc;
  z-index: 99;
  overflow: hidden;
}
.nav{
  width: 60%;
  margin: 0 auto;
}
#nav ul {
  line-height: 58px;
  font-size: 16px;
}
#nav ul li{
  display: inline-block;
  margin: 0 10px;
}
#nav ul li a{
  display: block;
  color: #34495e;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all .3s;
}
#nav ul li:hover a{
  border-bottom: 2px solid #1abc9c;
}
.github {
  position: relative;
  line-height: 60px;
  height: 60px;
  font-size: 20px;
  margin-left: 10px;
  background-size: 100%;
}
.github img{
  margin: 0;
  clear: none;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}
.github:Hover{
  text-decoration: none;
}
.back {
  display: inline-block;
  padding: 0 15px;
  margin-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}

.back:hover i {
  color: #1abc9c;
}

.slideUp {
  /* -webkit-transform: translateY(-100px);
       transform: translateY(-100px);*/
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  /*transition: transform .5s ease-out;*/
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}

.slideDown {
  /*-webkit-transform: translateY(0);
      transform: translateY(0);*/
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  /*transition: transform .5s ease-out;*/
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}


.footer {
  color: #adadad;
  font-size: 14px;
  margin-top: 50px;
  padding-top: 10px;
  text-align: center;
}
.footer .fl{
  margin-left: 1em;
}
.avatar {
  display: inline;
  margin: 0px 5px;
  border-radius: 50%;
  vertical-align: middle;
  text-decoration: none;
}

.create_at {
  color: #999;
  display: block;
  margin: 15px 0;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d5dddb;
  font-size: 12px;
}

#container .create_at a{
  border: none;
}

.loading {
  border: none;
  box-shadow: none;
  width: 200px;
  height: 200px;
  margin: 20% auto 0;
}

#container {
  position: relative;
  width: 60%;
  margin: 0 auto;
  animation: content 1s;
  transition: all .3s;
}

@keyframes content {
  0% {
    opacity: 0;
  }
}

.project,
.about {
  width: 80%;
  margin: 80px auto;
  display: none;
  transition: all .3s;
}
.postlist {
  position: relative;
  padding: 10px 0;
  margin-left: 0;
  padding-left: 0;
}

.postlist a {
  color: #606a6e;
  font-size: 15px;
}

ul.postlist {
  width: 100%;
}
#container ul.postlist li.postlist a{
  border: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 20px;
}
ul.postlist li.postlist {
  width: 100%;
  height: 50px;
  margin-left: 10px;
  list-style: none;
}
ul.postlist li.postlist a:hover {
  color: #1abc9c;
  border-bottom: 2px solid #1abb9c;
  text-decoration: underline;
}
.datetime {
  display: block;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.datetime a{
  font-size: 12px!important;
}
.datetime img{
  border-radius: 50%;
  vertical-align: middle;
}
.datetime i {
  padding: 5px;
}

.prev {
  float: left;
  margin-left: 1.3em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.next {
  float: right;
  margin-right: -1.3em;
  margin-top: -1em;
  margin-bottom: 1em;
}

#back,
#close{
  position: fixed;
  bottom: 80px;
  right: 10%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
#back a,
#close{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #1abc9c;
  transition: all .3s;
}
#back a:hover,
#close:hover{
  border-radius: 50%;
  line-height: 40px;
  color: #fff;
  background: #1abc9c;
}
#close{
  bottom: 40px;
  border: none;
}
#musicbox {
  position: fixed;
  top: 10%;
  right: 20%;
  z-index: 99999;
  display: none;
}

#busuanzi_container_page_pv {
  display: block;
  border-top: 1px dashed #d1d1d1;
  padding-top: 15px;
  color: rgb(66, 69, 63);
}
#container .back{
  display: inline-block;
  font-size: 14px;
  border:1px solid #1abc9c;
  background: none;
  transition: all .3s;
  cursor: pointer;
}
#container .back:hover{
  border: 1px solid #333;
  color: #333;
}
#container .back:hover i{
  color: #333;
}
.about,
.project{
  width: 40%;
  margin: 40px auto;
  padding: 10px;
  box-shadow: 1px 1px 3px #ccc;
}
.about h3,
.project h3{
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.about li,
.project li{
  list-style: circle;
  margin-left: 2em;
}
