/*滚动条 start*/
      ::-webkit-scrollbar {
        width: 10px;
        height: 4px;
        background-color: #F5F5F5;
      }
      /*定义滚动条轨道 内阴影+圆角*/
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: #fff ;
      }
      /*定义滑块 内阴影+圆角*/
      ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color:rgba(58, 63, 65, 0.7);
      }
      ::-webkit-scrollbar-thumb:hover {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color:rgba(9, 9, 9, 1);
      }
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    clear: both;
    display: block;
    margin: 30px auto;
}
h2{
    background-color: #eee;
    padding-left: 8px;
    margin-left: -8px;
    border-radius: 2px;
}
.nav{
    display: inline-block;
}
#mini img{
    border: none;
    box-shadow: none;
}
#line{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    opacity: 0;
    height: 3px;
    background: #333;
    animation: loading-line 5s ease-in;
    transition: all .5s;
}
@keyframes loading-line {
    0%{
        width: 0;
        opacity: 1;
        box-shadow: 1px 1px 10px #333;
    }
    50%{
        width: 50%;
        opacity: 1;
    }
}
#fork{
    position: fixed;
    top:0;
    right:0;
    width: 100px;
    height: 100px;
    filter: blur(5px);
    opacity: 1;
    transition: all .3s;
}
#fork img{
    display: block;
    border: none;
    box-shadow: 0 0 0;
    margin: 0;
}
#fork:hover{
    opacity: 1;
    filter: blur(0);
}
#header{
    position: relative;
    margin: 0 auto 20px;
    width: 50%;
    text-align: center;
    animation: top-b 1.5s;
    transition: all .3s;
}
@keyframes top-b {
    0%{
        opacity: 0;
        transform: translate(0,-100px) skew(100deg,50deg);
    }
}
#me{
    display: inline-block;
    margin: 8px 0;
    padding: 5px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    transition: all 1s;
}
#me:hover{
    box-shadow: 1px 1px 30px #333;
    transform: rotate(360deg);
}
#header h5{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 900;
}
#header p{
    position: relative;
    display: inline-block;
    padding: 5px 0 10px;
    font-size: 12px;
    color: #848484;
    cursor: pointer;
    transition: all .3s;
}
#link a {
    display: inline-block;
    font-size: 25px;
    color: #333;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
#link a:hover{
  text-decoration: none;
  color: #333;
  transition: all .2s;
}
.avatar{
	display: inline;
	margin: 0px 0px;
}
.create_at{
  color: #999;
  display: block;
  margin: 15px 0;
  font-size: 12px;
}
.loading{
  border: none;
  box-shadow:none;
  width: 32px;
  height: 32px;
  margin: 70px auto;
}
#container {
    position: relative;
    width: 60%;
    margin: 20px auto 100px;
    padding: 5px;
    box-shadow: -1px -1px 25px #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation: content 1s;
    transition: all .3s;
}
@keyframes content {
    0%{
        opacity: 0;
        transform: translate(-1000px,0) scale(1.5,1.5);
    }
}
.windows{
    position: absolute;
    top: -20px;
    left:0;
    width: 100%;
    height: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: rgba(0,0,0,.8);
}
.red,
.orange,
.green{
    position: absolute;
    top:20%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: red;
    transition: all .3s;
}
.red{
    left: 5px;
}
.orange{
    left: 30px;
    background: orange;
}
.green{
    left: 55px;
    background: green;
}
.postlist{
    position: relative;
    margin: 20px 0;
    padding-left: 0;
    list-style: none;
}
.postlist a{
    color: #333;
}
.line{
    position: absolute;
    top: 50%;
    left:-10%;
    width: 80px;
    height: 1px;
    background: #000;
    opacity: 0;
    transition: all .3s;
}
ul.postlist li.postlist a:hover .line{
    opacity: 1;
    left: -10px;
}
ul.postlist li.postlist a:hover{
    text-decoration: none;
}
.datetime{
    float: right;
    color: #999;
    font-family: 'Open Sans', sans-serif
}
.prev{
  float: left;
}
.next{
  float: right;
}
.prev,
.next{
    margin-top: 20px;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    transition: all .3s;
}
.prev:hover,
.next:hover{
    text-indent: 1em;
    background: #333;
    text-decoration: none;
    box-shadow: 1px 1px 5px #333;
    transition: all .2s ease-in;
}
#copy{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    text-align: center;
}
#time{
    color: #fff;
    line-height: 30px;
}
#time:before{
    content: "Today: ";
}
#back{
    position: fixed;
    bottom: 20px;
    right: 15%;
    text-align: center;
}
#back a{
    line-height: 20px;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    background: #333;
    transition: all .3s;
}
#back a:hover{
    text-decoration: none;
    border: 3px;
    transform: translate(0,-10px);
    box-shadow: 0 10px 10px #aaaaaa;
}
