body{
  overflow: hidden;
}
.blog_title{
  font-size: 26px;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.blog_title:hover{
  color:#21759b;
  text-decoration: none;
}
h2{
  background-color: #eee;
  padding-left: 8px;
  margin-left: -8px;
  border-radius: 2px;
}
.avatar{
	display: inline;
	margin: 0px 0px;
}
.create_at{
  color: #999;
  display: block;
  margin: 15px 0px;
  font-size: 12px;
}

.loading{
  border: none;
  box-shadow:none;
  width: 32px;
  height: 32px;
  margin: 70px auto;
}
.prev{
  float: left;
}
.next{
  float: right;
}
/*分辨率*/
.nav{
  display: none;
}
@media only screen and (min-width: 600px) {
    html,body{
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .blog_title{
      opacity: 0;
    }
    .nav{
      display: block;
    }
    #container {
      padding: 30px 60px 40px 60px;
      border-radius: 12px;
      margin-left: 200px;
    }
}

#header{
  margin-bottom: 20px;
}
.postlist{
  margin: 20px 0px;
  list-style: none;
}
ul{
  margin-top: 30px;
}
.postlist{
  padding: 0px;
}
.postlist a:hover{
  color: #333;
  text-decoration: underline;
  padding-bottom: 5px;
}
img{
   clear: both;
   display: block;
   margin: 30px auto;
}
.datetime{
  float: right;
  color: #999;
  font-family: 'Open Sans', sans-serif
}
.ds-social-links{
  width: 300px !important; /* 修正多说在 iphone5 宽度下带来的横向滚动条的问题*/
}
