html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    clear: both;
    display: block;
    margin: 30px auto;
}
h2{
    background-color: #eee;
    padding-left: 8px;
    margin-left: -8px;
    border-radius: 2px;
}
.nav{
    display: inline-block;
}
#mini img{
    border: none;
    box-shadow: none;
}
#line{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    opacity: 0;
    height: 3px;
    background: #d94b4b;
    animation: loading-line 5s ease-in;
    transition: all .5s;
    z-index: 999;
}
@keyframes loading-line {
    0%{
        width: 0;
        opacity: 1;
        box-shadow: 1px 1px 10px #333;
    }
    50%{
        width: 50%;
        opacity: 1;
    }
}
#header{
    position: fixed;
    top:0;
    left:0;
    width: 20%;
    height: 100%;
    text-align: center;
    background: #fbfbfb;
    border-right: 1px dashed #f4ecec;
    box-shadow: 3px -3px 10px rgba(161, 161, 161, 0.1);
    animation: top-b 2s;
    transition: all .3s;
    z-index: 99;
}
@keyframes top-b {
    0%{
        width: 5%;
        opacity: 0;
    }
}
#link a {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #333;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    cursor: pointer;
    transition: all .2s;
}
#header #info{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 90%;
  border-left: 5px solid #c9c8c8;
  transition: all .3s;
}
#header #info:hover{
  border-left: 5px solid #db4747;
}
#header #time{
  color: #333;
  margin: 5px 0;
}
#me{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: 10px 10px 20px #333;
    transition: all 1s;
}
#me:hover{
    transform: rotate(360deg);
    opacity: .8;
}
#header h5{
    display: inline-block;
    margin: 8px 0;
    font-size: 18px;
    font-weight: 900;
}
#header p{
    position: relative;
    display: inline-block;
    padding: 5px 0 10px;
    font-size: 12px;
    color: #848484;
    cursor: pointer;
    transition: all .3s;
}
.avatar{
	display: inline;
	margin: 0px 0px;
}
.create_at{
  color: #999;
  display: block;
  margin: 15px 0;
  font-size: 12px;
}
.loading{
  border: none;
  box-shadow:none;
  width: 32px;
  height: 32px;
  margin: 20% auto;
}
#container {
    position: relative;
    width: 70%;
    margin-bottom: 40px;
    margin-left: 20%;
    animation: content .5s ease-in;
    transition: all .3s;
}
@keyframes content {
    0%{
        opacity: 0;
        transform:translate(20%,0);
    }
}
.windows{
    position: fixed;
    top: 0px;
    left:20%;
    width: 80%;
    height: 20px;
    background: rgba(0,0,0,1);
    z-index: 99;
    animation: content .5s;
}
.red,
.orange,
.green{
    position: absolute;
    top:20%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: red;
    transition: all .3s;
}
.red{
    left: 5px;
}
.orange{
    left: 30px;
    background: orange;
}
.green{
    left: 55px;
    background: green;
}
.postlist{
    position: relative;
    margin: 10px 0;
    margin-left: 10px;
    padding-left: 10px;
}
.postlist a{
    color: #333;
}
.line{
    position: absolute;
    top: 50%;
    left:-10%;
    width: 80px;
    height: 1px;
    background: #000;
    opacity: 0;
    transition: all .3s;
}
ul.postlist{
  width: 100%;
}
ul.postlist li.postlist a:hover .line{
    opacity: 1;
    background: orangered;
    left: -10px;
}
ul.postlist li.postlist a:hover{
    color: orangered;
    text-decoration: none;
}
ul.postlist li.postlist{
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #f9f2f2;
}
ul.postlist li.postlist em{
  position: absolute;
  top:0;
  left:-5px;
  width: 2px;
  height: 40px;
  background: rgb(61, 53, 53);
  opacity: 0;
  transition: all .3s;
}
ul.postlist li.postlist:hover em{
  background: #f14747;
  width: 5px;
  opacity: 1;
}
ul.postlist li.postlist:hover{
  background: #f6f1f1;
}
.datetime{
    float: right;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}
.datetime i{
  padding: 5px;
}
.prev{
  float: left;
}
.next{
  float: right;
}
.prev,
.next{
    margin-top: 20px;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    transition: all .3s;
}
.prev:hover,
.next:hover{
    text-indent: 1em;
    background: #333;
    text-decoration: none;
    box-shadow: 1px 1px 5px #333;
    transition: all .2s ease-in;
}
#back{
    position: fixed;
    bottom: 20px;
    right: 5%;
    text-align: center;
}
#back a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #333;
    transition: all .3s;
}
#back a:hover{
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    background: #333;
}
.link{
    border-top: 1px solid #f0eded;
    text-align: left;
    text-indent: 1em;
}
.link dd{
    margin: 5px 10px;
    line-height: 50px;
}
.link dd a{
  position: relative;
  color: #6a6868;
  display: inline-block;
}
.link dd a:after{
  content: "";
  position: absolute;
  top:20%;
  left:0;
  width: 2px;
  height: 10%;
  background: #fff;
  transition: all .3s;
}
.link dd:hover a:after{
  height: 50%;
  background: #f14747;
}
.link dd a:before{
  content: "";
  position: absolute;
  top:50%;
  right:-100%;
  width: 10px;
  height: 1px;
  background: #fff;
  transition: all .3s;
}
.link dd:hover a:before{
  right: -5%;
  width: 50%;
  background: #f14747;
}
.link dd:hover a{
  color:#f14747;
}
.link dd a:hover{
  text-decoration: none;
  color: #f14747;
}
.link dd a i{
  padding: 5px;
  margin-right: 8px;
  font-size: 18px;
}
#music{
  position: fixed;
  top: 1%;
  right:1%;
  font-size: 20px;
  color: rgb(158, 157, 157);
  transition: all .3s;
}
#music:hover{
  transform: translate(-10px,0);
  color: #333;
}
#musicbox{
  position: fixed;
  top:10%;
  right: 5%;
  display: none;
}
