html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    clear: both;
    display: block;
    margin: 30px auto;
}
h2{
    background-color: #eee;
    padding-left: 8px;
    margin-left: -8px;
    border-radius: 2px;
}
.nav{
    display: inline-block;
}
#mini img{
    border: none;
    box-shadow: none;
}
#line{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    opacity: 0;
    height: 3px;
    background: #000;
    animation: loading-line 5s ease-in;
    transition: all .5s;
    z-index: 999;
}
@keyframes loading-line {
    0%{
        width: 0;
        opacity: 1;
        box-shadow: 1px 1px 10px #333;
    }
    50%{
        width: 50%;
        opacity: 1;
    }
}
#header{
    position: fixed;
    top:0;
    left:0;
    width: 10%;
    height: 100%;
    text-align: center;
    background: #fbfbfb;
    border-right: 1px dashed #f4ecec;
    box-shadow: 3px -3px 10px rgba(161, 161, 161, 0.1);
    /*animation: top-b 2s;*/
    transition: all .3s;
    z-index: 99;
}
@keyframes top-b {
    0%{
        width: 5%;
        opacity: 0;
    }
}
#link{
    margin-top: 50px;
}
#link a {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #333;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    cursor: pointer;
    transition: all .2s;
}
#header #info{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 90%;
  border-left: 5px solid #c9c8c8;
  transition: all .3s;
}
#header #info:hover{
  border-left: 5px solid #db4747;
}
#header #time{
  position: absolute;
  font-size: 10px;
  bottom: 10px;
  left: 0;
  width: 90%;
  transition: all .3s;
  color: #333;
  margin: 5px 0;
}
#me{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    box-shadow: 10px 10px 20px #333;
    transition: all 1s;
}
#me:hover{
    transform: rotate(360deg);
}
#header h5{
    display: inline-block;
    margin: 8px 0;
    font-size: 15px;
}
#header p{
    position: relative;
    display: inline-block;
    padding: 5px 0 10px;
    font-size: 10px;
    color: #848484;
    cursor: pointer;
    transition: all .3s;
}
.link{
    padding-top: 20px;
    border-top: 1px solid #f0eded;
}
.link dd{
    line-height: 50px;
    margin: 10px 0;
    padding: 0;
}
.link dd a{
    position: relative;
    display: block;
    color: #898989;
}
.link dd a:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 5px;
    height: 100%;
    background: #fff;
    transition: all .3s;
}
.link dd .active{
    background: #e5f1fc;
    color: #3593f2;
}
.link dd .active:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 5px;
    height: 100%;
    background: #3593f2;
    transition: all .3s;
}
.link dd:hover a:after{
    background: #3593f2;
}
.link dd:hover a{
    text-decoration: none;
    color:#3593f2;
}
.link dd a i{
    padding: 5px;
    margin-right: 8px;
    font-size: 18px;
}
.avatar{
	display: inline;
	margin: 0px 0px;
}
.create_at{
  color: #999;
  display: block;
  margin: 15px 0;
  font-size: 12px;
}
.loading{
  border: none;
  box-shadow:none;
  width: 32px;
  height: 32px;
  margin: 20% auto;
}
#container {
    position: relative;
    width: 90%;
    margin-bottom: 40px;
    margin-left: 10%;
   /* animation: content .5s ease-in;*/
    transition: all .3s;
}
.mood{
    position: fixed;
    top:0;
    left:0;
    margin-left: 10%;
    width: 90%;
    display: none;
    transition: all .3s;
}
.project{
    position: fixed;
    top:0;
    left:0;
    margin-left: 10%;
    width: 90%;
    display: none;
    transition: all .3s;
}
.about{
    position: fixed;
    top:0;
    left:0;
    margin-left: 10%;
    width: 90%;
    display: none;
    transition: all .3s;
}
.header-table{
    position: fixed;
    top:0;
    width: 90%;
    height: 50px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f9fafc;
    z-index: 99;
}
.table{
    width: 90%;
    margin: 0 auto;
}
.table div{
    line-height: 50px;
    color:#a3b4bc;
}
@keyframes content {
    0%{
        opacity: 0;
        transform:translate(20%,0);
    }
}
/*
.windows{
    position: fixed;
    top: 0px;
    left:20%;
    width: 80%;
    height: 20px;
    background: rgba(0,0,0,1);
    z-index: 99;
    animation: content .5s;
}
.red,
.orange,
.green{
    position: absolute;
    top:20%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: red;
    transition: all .3s;
}
.red{
    left: 5px;
}
.orange{
    left: 30px;
    background: orange;
}
.green{
    left: 55px;
    background: green;
}
*/
.postlist{
    position: relative;
    padding: 10px 0;
    margin-left: 0;
    padding-left: 0;
}
.postlist a{
    color: #4b595f;
    font-size: 15px;
}
ul.postlist{
  width: 100%;
  margin-top: 50px;
}
ul.postlist li.postlist a:hover{
    color: #3593f2;
    text-decoration: none;
}
ul.postlist li.postlist{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #fcf5f5;
    overflow: hidden;
}
ul.postlist li.postlist em{
  position: absolute;
  top:0;
  left:-5px;
  width: 5px;
  height: 40px;
  background: rgb(61, 53, 53);
  opacity: 0;
}
ul.postlist li.postlist:hover em{
  background: #3593f2;
  width: 5px;
  opacity: 1;
}
.datetime{
    float: right;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}
.datetime i{
  padding: 5px;
}
.prev{
  float: left;
}
.next{
  float: right;
}
.prev,
.next{
    margin-top: 20px;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    transition: all .3s;
}
.prev:hover,
.next:hover{
    text-indent: 1em;
    background: #333;
    text-decoration: none;
    box-shadow: 1px 1px 5px #333;
    transition: all .2s ease-in;
}
#back{
    position: fixed;
    bottom: 20px;
    right: 5%;
    text-align: center;
}
#back a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #333;
    transition: all .3s;
}
#back a:hover{
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    background: #333;
}
#music{
  position: fixed;
  top: 0;
  right:1%;
  font-size: 20px;
  color: rgb(158, 157, 157);
  z-index: 999;
  transition: all .3s;
}
#music img{
  width: 20px;
  height: 20px;
  display: inline-block;
}
#music:hover{
  transform: scale(1.2,1.2);
  color: #333;
}
#musicbox{
  position: fixed;
  top:10%;
  right: 5%;
  display: none;
}
.show-list{
    display: inline-block;
    padding: 10px;
    border: 1px solid #e9e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ded9d9;
}
.show-list .commit{
    padding-left: 20px;
    border-left: 5px solid #5d5d5d;
    color: #5d5d5d;
}
.show-list .con{
    text-indent: 1em;
    line-height: 20px;
    font-size: 12px;
    margin: 5px;
    padding: 15px;
}
